html ,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* header */

.header{

  display: flex;
  justify-content: space-between;
  
  background-color: rgb(237, 242, 243);
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 10px rgb(184, 181, 181);
  
}

.header div{
 
  margin: 20px;
  font-size: 20px;
  
}

.header div a{
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}

.header .cart-link span{
  font-size: 24px;
}

/* routes */
.routes{
  width: 100%;
  /* min-height: calc(100vh - 4rem); */

  

}



/* home page */
.home-container{
  /* background-color: olivedrab; */
  padding: 10px;
  /* min-height: calc(100vh - 5.5rem); */

}


/* bookitem */

.content{
  padding: 10px;
}

.content > .name{
  font-size: 15px;
  font-weight: bold;
}

.content .author{
  font-size: 15px;
  color: gray;
}

.content .box{
  display: flex;
  justify-content: space-between;
}

.box .price{
  color: orangered;
  font-weight: bold;
  font-size: 20px;
}

.box button{
  border: none;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.box button:hover{
  background-color: rgb(3, 201, 3);
}